/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }

/* general styling */

body {
    font-family: 'Orbitron', sans-serif;
}

.main-container {
    width: 12rem;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}

.display {
    min-height: 3.5rem;
}

.flex-buttons {
    display: flex;
    flex-direction: column;
}

.row {
  display: flex;
}

.flex-child {
    flex: 1;
    text-align: center;
    padding: .5rem 0;
    border: 1px solid black;
}

.span-two {
    flex: 2;
}

.zero {
  border-bottom-left-radius: 10px;
}

.equal {
  border-bottom-right-radius: 10px;
}

.func {
    background-color: rgb(155, 82, 152);
}

.num {
    background-color: rgb(145, 184, 66);
}

.option {
    background-color: rgb(228, 188, 136);
}